<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Fayl yoki katalog mavjud bo‘lmasa, index.html ga yo‘naltir
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
