.form-input {
    padding: 12px 8px;
    border: none;
    border-bottom: 1.5px solid rgba(142, 142, 142, 1);
    outline: none;
    width: 100%;
    font-family: "Manrope", sans-serif !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    background-color: transparent;
    margin: 8px 0;
}

.app-list {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: white;
}

.form-input::placeholder {
    color: var(--Input-text, #8e8e8e);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    font-family: "Manrope", sans-serif !important;
}

.form-text {
    padding: 12px 8px;
    border: none;
    border-bottom: 1.5px solid rgba(142, 142, 142, 1);
    outline: none;
    width: 100%;
    font-family: "Manrope", sans-serif !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    background-color: transparent;
    height: 120px;
    resize: none;
}

.form-map {
    width: 100%;
    border-radius: 10px;
}

a:hover {
    text-decoration: none !important;
}

.modal-label {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    margin: 12px 0;
}

.modal-input {
    width: 100%;
    height: 50px !important;
    background-color: #f1f1f1 !important;
    border: 1px solid #f1f1f1 !important;
    border-radius: 10px !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.modal-input:focus {
    border: 1px solid #F70 !important;
}

.modal-input:focus-visible {
    box-shadow: none !important;
}

.modal-inputs input {
    width: 100%;
    height: 50px !important;
    background-color: #f1f1f1 !important;
    border: 1px solid #f1f1f1 !important;
    border-radius: 10px !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.modal-inputs input:focus {
    border: 1px solid #F70 !important;
}

.modal-inputs input:focus-visible {
    box-shadow: none !important;
}

.header-input {
    background-color: #f1f1f1 !important;
    border-radius: 10px !important;
    height: 40px !important;
    padding: 10px 15px !important;
    width: 100% !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #303030 !important;
    box-sizing: border-box !important;
}

.header-input:focus {
    border: 1px solid #F70 !important;
}

.header-input:focus-visible {
    box-shadow: none !important;
}

.header-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-label {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.header-input::placeholder {
    font-size: 14px;
    font-weight: 600;
}
.css-1u2cvaz{
    z-index: 9999999 !important;
}